@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

:root {
    --main_font: 'Roboto', sans-serif;
    --secondary_font: 'Poppins', sans-serif; 
}

html {
    font-family: var(--secondary_font);
    position: relative;
}

body {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.block_container {
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    padding: 20px;
    color: var(--blue);
    margin: 20px;
}

h1, h2, h3, p {
    margin: 0;
}

header {
    display: flex;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

main {
    margin: 50px;
}
main p {
    color: black;
}

footer {
    text-align: center;
}
footer p {
    color: black;
}