@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --main_font: 'Montserrat', sans-serif;
}

html {
    font-family: var(--main_font);
    margin: 10px;
}

h1, h2, h3, p {
    margin: 0;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}
p {
    font-size: 12px;
}

header, footer {
    background-color: gray;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    color: white;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    justify-items: center;
}

.block_container {
    border: solid 1px black;
    border-radius: 10px 10px 0 0;
    background-color: lightgray;
    overflow: hidden;
}
.container_label {
    border-radius: 10px 10px 0 0;
    background-color: gray;
    color: white;
    padding: 3px;
    font-size: 15px;
}
.container_label, .block_container p {
    padding: 10px;
}

.block_container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
