body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

img {
    width: 300px;
    height: 400px;
}

main img[data-src] {
    filter: blur(0.5em);
}
main img {
    filter: blur(0em);
    transition: filter 0.5s;
}