@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    margin: 0 auto;
    padding: 1em;
    font-size: 16px;
    max-width: 100%;
    background-color: #0F111A;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 10px;
    background-color: #1E2234;
    margin: 10px;
}
h1, h2, p,figure, footer{
    margin: 0;
    text-align:center;
}
.condition{
    font-weight: bold;
}
figcaption{
    text-transform: capitalize;
}
