@media screen and (max-width: 450px) {
    .social_media i, nav i {
        font-size: 2em;
    }
    header {
        display: grid;
        grid-template-columns: 50% 30% auto;
        margin: 10px 0;
    }
    .headline {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
        column-gap: 10px;
    }
    .headline h1 {
        font-size: 1em;
    }
    .headline h2 {
        font-size: 0.8em;
    }
    .headline img {
        grid-column: 1/2;
        grid-row: 1/3;
        width: 50px;
        height: 50px;
        justify-self: center;
        align-self: center;
    }
    .social_media {
        padding: 0;
        margin: 0;
        justify-self: center;
        align-self: center;
    }
    .social_media ul {
        display: flex;
        column-gap: 10px;
        padding: 0;
    }
    nav {
        align-self: center;
    }
    .navigation {
        padding: 0;
    }
    .navigation li:first-child {
        display: block;
        align-self: center;
        justify-items: center;
    }
    .navigation li {
        display: none;
    }
    .responsive li {
        display: block;
    }

    /* Main */
    .hero {
        height: 50%;
    }

    /* Footer */
    footer {
        text-align: center;
    }
    .footer_information {
        font-size: 0.6em;
    }
}