@media (min-width: 64em) {

    .home_grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr auto;
    }

    button#burger_icon {display: none;}

    nav {
        display: block;
    }

    nav ul#main_nav {
        display: flex;
        border-top: none;
    }

    nav ul li a {
        border: none;
    }

    .footer {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    main section div.spotlight {
        height: 100%;
        width: auto;
    }

    #burger_nav.open {
        display: none;
    }

    #event {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #weather {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #join {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .join_form {
        display: flex;
    }

    #home {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }

    #news {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }

    #spotlights {
        flex-direction: column;
        grid-column: 4 / 5;
        grid-row: 1 / 4;
    }

    #spotlight_three {
        display: block;
    }

    .section_block picture {
        width: 1rem;
    }

    /* Discover Page */
    .section_block {
        display: grid;
        grid-template-columns: 20% 80%;
        padding: 20px;
    }
    .section_block picture {
        grid-column: 1/2;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .section_text {
        grid-column: 2/3;
    }
}