@media (min-width: 35rem) {

    .home_grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto 1fr 10rem auto;
    }

    h1 {
        font-size: 1.5em;
        margin-top: 2rem;
    }
    
    h2 {
        font-size: 1.2em;
    }

    .footer {
        flex-direction: row;
    }

    header button {
        margin-right: 1rem;
    }

    main section div.spotlight {
        width: 100%;
        height: auto;
    }

    .heading img {
        width: 5rem;
    }

    .date_today {
        margin: 0 2rem 0 2rem;
    }

    .copyright_info {
        display: none;
        text-align: center;
    }
    
    .copyright_info_2 {
        display: block;
        text-align: center;
    }

    .footer_logo {
        display: flex;
        text-align: left;
        margin-bottom: 0;
    }

    .footer_text {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-left: 0.25rem;
        margin-top: 1rem;
    }

    #burger_nav {
        margin: 0 2rem 1rem 2rem;
    }

    #home {
        grid-column: 1 / 4;
    }

    #news {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    #spotlights {
        flex-direction: row;
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }

    #join {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }

    #event {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }

    #weather {
        margin: 0;
        grid-column: 3 / 4;
        grid-row: 5 / 6;
    }

    /* Join Page */

    fieldset {
        width: 484px;
    }
    
    .membership_levels {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .benefits {
        display: block;
        grid-column: 2 / 3;
        grid-row: 1 / 5;
    }

    /* Directory Page */

    .directory_cards.is-list section p {
        border-left: 1px solid rgba(0,0,0,0.3);
        border-top: none;
        font-size: 1rem;
    }

    .directory_cards.is-list h4 {
        font-size: 1rem;
    }
} 