@media screen and (min-width: 451px) and (max-width: 900px) {
    .social_media i, nav i {
        font-size: 3em;
    }
    header {
        display: grid;
        grid-template-columns: 50% 30% auto;
        margin: 10px 0;
    }
    .headline {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
        column-gap: 10px;
    }
    .headline h1 {
        font-size: 1.5em;
    }
    .headline h2 {
        font-size: 1.2em;
    }
    .headline img {
        grid-column: 1/2;
        grid-row: 1/3;
        width: 80px;
        height: 80px;
        justify-self: center;
        align-self: center;
    }
    .social_media {
        padding: 0;
        margin: 0;
        justify-self: center;
        align-self: center;
    }
    .social_media ul {
        display: flex;
        column-gap: 10px;
        padding: 0;
    }
    nav {
        align-self: center;
    }
    .navigation {
        padding: 0;
    }
    .navigation li:first-child {
        display: block;
        align-self: center;
        justify-items: center;
    }
    .navigation li {
        display: none;
    }
    .responsive li {
        display: block;
    }

    /* Main */
    main {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .hero {
        grid-column: 1/7;
        grid-row: 1/2;
    }
    .news_release {
        grid-column: 1/7;
        grid-row: 2/3;
    }
    .spotlight_block_1 {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .spotlight_block_2 {
        grid-column: 3/5;
        grid-row: 3/4;
    }
    .spotlight_block_3 {
        grid-column: 5/7;
        grid-row: 3/4;
    }
    .event {
        grid-column: 1/5;
        grid-row: 4/5;
    }
    .weather {
        grid-column: 5/7;
        grid-row: 4/5;
    }
    .join {
        display: none;
    }

    /* FOOTER */
    
    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .footer_headline {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
    }
    .footer_headline img {
        grid-row: 1/4;
        width: 60px;
        height: 60px;
    }
    .footer_contact {
        align-self: center;
    }
    .footer_contact p, .footer_contact a {
        font-size: 0.8em;
    }
    .footer_information {
        border-top: 1px solid black;
        grid-column: 1/3;
        display: flex;
    }
    .footer_information p {
        font-size: 0.6em;
    }
}