@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@300;700&display=swap');

:root {
    --main_font: 'Open Sans', sans-serif;
    --secondary_font: 'Poppins', sans-serif;
}

html {
    font-family: var(--secondary_font);
}
h1, h2, h3, h4, p {
    margin: 0;
}
h1 {
    font-size: 1.5em;
    font-family: var(--main_font);
}
h2 {
    font-size: 1em;
    font-family: var(--main_font);
}
div {
    padding: 10px;
    margin: 10px;
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: 40% auto 20%;
    margin: 20px 0;
}

.headline {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
}
.headline img {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
}
.headline h1, .headline h2 {
    font-family: var(--main_font);
    align-items: center;
}
nav {
    padding: 10px;
    align-self: center;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
ul li {
    font-size: 1em;
    font-family: var(--main_font);
}
a:link {
    text-decoration: none;
    color: var(--dark_green);
}
a:visited {
    text-decoration: none;
    color: var(--dark_green);
}
i {
    font-size: 3em;
}
.social_media {
    padding: 10px;
}
.social_media ul {
    display: flex;
    justify-content: end;
    column-gap: 10px;
}
.date_today {
    border: 1px solid black;
    grid-column: 1/4;
    margin: 10px;
    padding: 10px;
}
.date_today h3 {
    font-family: var(--main_font);
    text-align: center;
}

/* MAIN */

main {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: repeat(3, 200px);
    padding: 0 20px;
}
.event {
    grid-column: 1/2;
    grid-row: 1/2;
    border:1px solid black;
}
.weather {
    grid-column: 1/2;
    grid-row: 2/3;
    border:1px solid black;
}
.join {
    grid-column: 1/2;
    grid-row: 3/4;
    border:1px solid black;
}
.hero {
    grid-column: 2/3;
    grid-row: 1/3;
    border:1px solid black;
}
.news_release {
    grid-column: 2/3;
    grid-row: 3/4;
    border:1px solid black;
}
.spotlights {
    grid-column: 3/4;
    grid-row: 1/4;
    border:1px solid black;
}
.spotlight_block {
    border: 1px solid black;
    height: 150px;
}

/* FOOTER */

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.footer_headline {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
}
.footer_headline img {
    grid-row: 1/4;
}
.footer_contact {
    align-self: center;
}
.footer_information {
    border-top: 1px solid black;
    grid-column: 1/3;
}