@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Playfair+Display&family=Poppins&display=swap');

:root {
    /* Fonts */
    --heading_font: 'Playfair Display', serif;
    --main_font: 'Poppins', sans-serif;
    --link_font: 'Oswald', sans-serif;
    /* Colors */
    --gray: #CACFD6;
    --black: #050505;
    --white: #FFFFFF;
    --orange: #F49E4C;
    --blue: #235789;
}

html {
    font-family: var(--main_font);
}

ul {
    list-style: none;
    gap: 50px;
}
a {
    text-decoration: none;
    font-family: var(--link_font);
}

/* HEADER */

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
}

/* Logo */
header img {
    width: 100px;
    height: 100px;
}

/* Navigation */
header ul {
    display: flex;
}
header ul a {
    color: var(--white);
    font-size: 1.5rem;
    font-family: var(--heading_font);
}
#main_navigation {
    display: none;
}
#burger_navigation {
    display: none;
}
#burger_icon {
    border: 0;
    background-color: var(--white);
    font-size: 50px;
}
#burger_icon span:nth-child(1) {
    display: block;
}
#burger_icon span:nth-child(2) {
    display: none;
}
#burger_icon.open span:nth-child(1) {
    display: none;
}
#burger_icon.open span:nth-child(2) {
    display: block;
}
#burger_navigation {
    margin: 0 1rem 1rem 1rem;
}
#burger_navigation.open {
    display: block;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: var(--black);
}
#burger_navigation.open li {
    text-align: center;
    padding: 0.5rem;
}

/* MAIN */

/* Map */
.maps, .weather {
    border: 1px solid black;
    height: 100px;
    height: 300px;
    margin: 1.5rem;
    padding: 10px;
}

/* Cards */
.cards {
    margin: 1.5rem;
}
.cards section {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.cards section h2 {
    font-family: var(--heading_font);
}
.cards section h2, p {
    padding-bottom: 10px;
}
.cards section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.cards section a {
    font-family: var(--link_font);
    background-color: var(--white);
    padding: 0.8rem 1.5rem;
    border: 1px solid var(--blue);
    border-radius: 10px;
    font-size: 1rem;
    color: var(--blue);
}


/* FOOTER */
footer {
    background-color: var(--black);
    color: var(--white);
    padding: 1.5rem;
    border-radius: 10px;
    margin: 0.5rem;
}
footer ul {
    padding: 0;
}
.footer_header, .footer_body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer_body ul li {
    text-align: center;
}
.footer_body ul a {
    color: var(--white);
    font-family: var(--main_font);
}
/* Footer Logo */
.footer_header img {
    width: 100px;
    height: 100px;
}