@media (min-width: 900px) {

    /* HEADER */
    #burger_icon, #burger_navigation {
        display: none;
    }
    #main_navigation {
        display: flex;
    }
    header ul a {
        color: var(--black);
    }

    /* MAIN */
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .cards section img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }
    .cards section p {
        text-align: justify;
    }
    .maps_and_weather {
        display: flex;
        justify-content: space-between;
    }
    .map {
        width: 100%;
    }
    #weather {
        width: 20rem;
    }
    iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Services Page */
    .services, .amenities {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }
    .services img, .amenities img {
        height: auto;
    }
    .services_block {
        margin: 6rem 1rem;
    }

    /* Temple Page */
    .temple_cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .temple_cards section img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }

    /* Reservation Page */
    .reservation_form fieldset input {
        width: 100%;
    }

    /* FOOTER */
    .footer_header {
        display: flex;
    }
    .footer_header_logo {
        text-align: left;
        width: 30rem;
    }
    .footer_header map {
        width: 100%;
    }
    .footer_header iframe {
        width: 40rem;
        height: 100%;
        object-fit: cover;
    }
    .footer_header ul li {
        font-size: 1rem;
        padding-bottom: 0.5rem;
    }
    .footer_body ul a {
        color: var(--white);
        font-family: var(--link_font);
        font-size: 1rem;
    }
    .footer_copyright p, #weather_source {
        font-size: 0.7rem;
    }
    .footer_body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer_navigation {
        gap: 5rem;
    }
    .footer_navigation ul li {
        padding-bottom: 1rem;
    }
}