@media (min-width: 900px) {

    /* HEADER */
    #burger_icon, #burger_navigation {
        display: none;
    }
    #main_navigation {
        display: flex;
    }
    header ul a {
        color: var(--black);
    }

    /* MAIN */
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .cards section img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }
    .cards section p {
        text-align: justify;
    }
}