@media (min-width: 900px) {
    #burger_icon, #burger_navigation {
        display: none;
    }
    #main_navigation {
        display: flex;
    }
    header ul a {
        color: var(--black);
    }
}