@media (min-width: 600px) and (max-width: 899px) {
    /* MAIN */
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .cards section img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }
    .maps_and_weather {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    /* Services Page */
    .services, .amenities {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    .services img, .amenities img {
        height: auto;
    }
    .services_block {
        margin: 6rem 1rem;
    }

    /* FOOTER */
    .footer_header {
        display: flex;
    }
    .footer_header_logo {
        text-align: left;
    }
    iframe {
        width: 30rem;
        height: 100%;
        object-fit: cover;
    }
    .footer_header ul li {
        font-size: 1rem;
        padding-bottom: 0.5rem;
    }
    .footer_body ul a {
        color: var(--white);
        font-family: var(--link_font);
        font-size: 1rem;
    }
    .footer_copyright p, #weather_source {
        font-size: 0.7rem;
    }
    .footer_body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer_navigation {
        gap: 5rem;
    }
    .footer_navigation ul li {
        padding-bottom: 1rem;
    }
}